* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    /* text-align: center; */
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#loginForm{
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea, input[type="datetime-local"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background: #07376eb0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    width: 50%;
    margin-top: 10px;
}

button:hover {
    background: #1c3b63da;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}


#link{
    text-decoration: none;
    margin-top: 20px;
}

#error{
    color: red;
    padding: 5px;
}
.todo {
    border-radius: 5px;
    padding: 10px;
    margin-top : 5px;
    font-size: 13px;
    background-color: #fffff7;

}
.todo-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: 13px;
    /* justify-content: space-between; */


}

#actionBtns {
    padding :  1px 5px;
    width : fit-content;
    border-radius : 3px;
    font-size: 13px;
}

#editBtn {
    display: none;
}

.striketext {
    text-decoration: line-through;
    color: gray;
}

.isOverdue {
    border-left: 5px solid red;
}

.showIsCompleted {
    display: none;
}

